.home-wrapper {
	background-color: #424242;
}
.home-logo {
	margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
	max-height: 30px;
	width: auto;
}
.management-login {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 70vh;
	justify-content: center;
}